In [47]:
%pylab inline

import re
import numpy as np
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

#### Function to parse regulatory adjusted cohort graduation rate

In [48]:
def parsecohortdata(x, y):
    # Get the regulatory adjusted cohort graduation rate for all district
    acgr = pd.read_csv(x, dtype={"LEAID": str})

    #Add the Year column
    acgr['YEAR'] = y

    #Rename existing coulmns
    acgr.columns = ['STATE', 'FIPCD', 'LEAID', 'LEANM', 'ALLA', 'ALLR', 'MAMA', 'MAMR', 
                    'MASA', 'MASR', 'MBLA', 'MBLR', 'MHIA', 'MHIR', 'MTRA', 'MTRR', 
                    'MWHA', 'MWHR', 'CWDA', 'CWDR', 'ECDA', 'ECDR', 'LEPA', 'LEPR', 
                    'DATE_CUR', 'YEAR']

    acgr = acgr.applymap(cleandata)
    acgr = acgr.fillna(0)
    
    #Convert all column data to numeric data
    acgr['ALLR'] = pd.to_numeric(acgr['ALLR'])
    acgr['MAMR'] = pd.to_numeric(acgr['MAMR'])
    acgr['MASR'] = pd.to_numeric(acgr['MASR'])
    acgr['MBLR'] = pd.to_numeric(acgr['MBLR'])
    acgr['MHIR'] = pd.to_numeric(acgr['MHIR'])
    acgr['MTRR'] = pd.to_numeric(acgr['MTRR'])
    acgr['MWHR'] = pd.to_numeric(acgr['MWHR'])
    acgr['CWDR'] = pd.to_numeric(acgr['CWDR'])
    acgr['ECDR'] = pd.to_numeric(acgr['ECDR'])
    acgr['LEPR'] = pd.to_numeric(acgr['LEPR'])
    
    #acgr['ALLR'].astype(int)
    acgr['MAMA'] = pd.to_numeric(acgr['MAMA']).astype(int)
    acgr['MASA'] = pd.to_numeric(acgr['MASA']).astype(int)
    acgr['MBLA'] = pd.to_numeric(acgr['MBLA']).astype(int)
    acgr['MHIA'] = pd.to_numeric(acgr['MHIA']).astype(int)
    acgr['MTRA'] = pd.to_numeric(acgr['MTRA']).astype(int)
    acgr['MWHA'] = pd.to_numeric(acgr['MWHA']).astype(int)
    acgr['CWDA'] = pd.to_numeric(acgr['CWDA']).astype(int)
    acgr['ECDA'] = pd.to_numeric(acgr['ECDA']).astype(int)
    acgr['LEPA'] = pd.to_numeric(acgr['LEPA']).astype(int)
    
    #Calculate the no of students graduated from different race
    acgr['MAMG'] = round(acgr['MAMA']*acgr['MAMR']/100, 0).astype(int)
    acgr['MASG'] = round(acgr['MASA']*acgr['MASR']/100, 0).astype(int)
    acgr['MBLG'] = round(acgr['MBLA']*acgr['MBLR']/100, 0).astype(int)
    acgr['MHIG'] = round(acgr['MHIA']*acgr['MHIR']/100, 0).astype(int)
    acgr['MTRG'] = round(acgr['MTRA']*acgr['MTRR']/100, 0).astype(int)
    acgr['MWHG'] = round(acgr['MWHA']*acgr['MWHR']/100, 0).astype(int)
    acgr['CWDG'] = round(acgr['CWDA']*acgr['CWDR']/100, 0).astype(int)
    acgr['ECDG'] = round(acgr['ECDA']*acgr['ECDR']/100, 0).astype(int)
    acgr['LEPG'] = round(acgr['LEPA']*acgr['LEPR']/100, 0).astype(int)
    acgr['ALLG'] = acgr['MAMG'] + acgr['MASG'] + acgr['MBLG'] + acgr['MHIG'] + acgr['MWHG']
    
    acgr['ALLP'] = round(acgr['ALLG']*100/acgr['ALLA'],0)
    acgr['MASP'] = round(acgr['MASG']*100/acgr['MASA'],0)
    acgr['MWHP'] = round(acgr['MWHG']*100/acgr['MWHA'],0)
    acgr['MBLP'] = round(acgr['MBLG']*100/acgr['MBLA'],0)
    acgr['MHIP'] = round(acgr['MHIG']*100/acgr['MHIA'],0)
    acgr['MAMP'] = round(acgr['MAMG']*100/acgr['MAMA'],0)
    acgr['MTRP'] = round(acgr['MTRG']*100/acgr['MTRA'],0)
    acgr['CWDP'] = round(acgr['CWDG']*100/acgr['CWDA'],0)
    acgr['ECDP'] = round(acgr['ECDG']*100/acgr['ECDA'],0)
    acgr['LEPP'] = round(acgr['LEPG']*100/acgr['LEPA'],0)

    acgr = acgr.fillna(0)
    
    acgr['ALLP'] = acgr['ALLP'].astype(int)
    acgr['MASP'] = acgr['MASP'].astype(int)
    acgr['MWHP'] = acgr['MWHP'].astype(int)
    acgr['MBLP'] = acgr['MBLP'].astype(int)
    acgr['MHIP'] = acgr['MHIP'].astype(int)
    acgr['MAMP'] = acgr['MAMP'].astype(int)
    acgr['MTRP'] = acgr['MTRP'].astype(int)
    acgr['CWDP'] = acgr['CWDP'].astype(int)
    acgr['ECDP'] = acgr['ECDP'].astype(int)
    acgr['LEPP'] = acgr['LEPP'].astype(int)
    
    acgr['MASR'] = round(acgr['MASA']*100/acgr['ALLA'],0)
    acgr['MWHR'] = round(acgr['MWHA']*100/acgr['ALLA'],0)
    acgr['MBLR'] = round(acgr['MBLA']*100/acgr['ALLA'],0)
    acgr['MHIR'] = round(acgr['MHIA']*100/acgr['ALLA'],0)
    acgr['MAMR'] = round(acgr['MAMA']*100/acgr['ALLA'],0)
    acgr['MTRR'] = round(acgr['MTRA']*100/acgr['ALLA'],0)
    acgr['CWDR'] = round(acgr['CWDA']*100/acgr['ALLA'],0)
    acgr['ECDR'] = round(acgr['ECDA']*100/acgr['ALLA'],0)
    acgr['LEPR'] = round(acgr['LEPA']*100/acgr['ALLA'],0)

    acgr = acgr.fillna(0)
    
    acgr['MASR'] = acgr['MASR'].astype(int)
    acgr['MWHR'] = acgr['MWHR'].astype(int)
    acgr['MBLR'] = acgr['MBLR'].astype(int)
    acgr['MHIR'] = acgr['MHIR'].astype(int)
    acgr['MAMR'] = acgr['MAMR'].astype(int)
    acgr['MTRR'] = acgr['MTRR'].astype(int)
    acgr['CWDR'] = acgr['CWDR'].astype(int)
    acgr['ECDR'] = acgr['ECDR'].astype(int)
    acgr['LEPR'] = acgr['LEPR'].astype(int)
    
    #return the dataframe
    return acgr[['YEAR', 'FIPCD', 'STATE', 'LEAID', 
                 'ALLA', 'ALLG', 'ALLP', 
                 'MAMA', 'MAMG', 'MAMP', 'MAMR', 
                 'MASA', 'MASG', 'MASP', 'MASR', 
                 'MBLA', 'MBLG', 'MBLP', 'MBLR',
                 'MHIA', 'MHIG', 'MHIP', 'MHIR',
                 'MTRA', 'MTRG', 'MTRP', 'MTRR',
                 'MWHA', 'MWHG', 'MWHP', 'MWHR',
                 'CWDA', 'CWDG', 'CWDP', 'CWDR',
                 'ECDA', 'ECDG', 'ECDP', 'ECDR',
                 'LEPA', 'LEPG', 'LEPP', 'LEPR'
                ]]

#### Function to to clean data

In [49]:
def cleandata(x):
    if (isinstance(x, str)):
        if re.search("[P][S]", x) and len(x) == 2:
            #z = pd.to_numeric(re.sub('[PS]', '', x))
            y = np.random.randint(0,100)

            return y
        if re.search("[L][T][0-9][0-9]", x) and len(x) == 4:
            z = pd.to_numeric(re.sub('[LT]', '', x))
            y = np.random.randint(0,z)
            return y
        
        if re.search("[L][E][0-9][0-9]", x) and len(x) == 4:
            z = pd.to_numeric(re.sub('[LE]', '', x))
            y = np.random.randint(0,z)
            return y
        
        if re.search("[L][E][0-9]", x) and len(x) == 3:
            z = pd.to_numeric(re.sub('[LE]', '', x))
            y = np.random.randint(0,z)
            return y
        
        if re.search("[G][E][0-9][0-9]", x) and len(x) == 4:
            z = pd.to_numeric(re.sub('[GE]', '', x))
            y = np.random.randint(z,100)

            return y
        
        if re.search("[G][T][0-9][0-9]", x) and len(x) == 4:
            z = pd.to_numeric(re.sub('[GT]', '', x))
            y = np.random.randint(z,100)

            return y
        
        if re.search("[0-9][0-9]-[0-9][0-9]", x) and len(x) == 5:
            z = x.split('-')
            a = pd.to_numeric(z[0])
            b = pd.to_numeric(z[1])
            y = np.random.randint(a,b)
            
            return y
        
        if re.search("[0-9]-[0-9]", x) and len(x) == 3:
            z = x.split('-')
            a = pd.to_numeric(z[0])
            b = pd.to_numeric(z[1])
            y = np.random.randint(a,b)
            
            return y
    return x

#### Function to parse the small area income and poverty estimates for all district

In [50]:
def parsepovertydata(x):
    sipe = pd.read_csv(x, encoding='latin-1', dtype={"State FIPS Code": str, "District ID": str})
    
    #Rename existing coulmns
    sipe.columns = ['STATE', 'FIPST', 'DISTID', 'LEANM', 'TOTP', 'CHLD', 'CHIP']
    
    #Add a new column as LEAID = 'FIPST' + 'DISTID'
    sipe['LEAID'] = sipe['FIPST'] + sipe['DISTID']

    #Create a new Dataframe with selected column
    sipe = sipe[['LEAID', 'TOTP', 'CHLD', 'CHIP']]
    
    #Replace invalid data in the dataframe
    sipe['TOTP'] = sipe['TOTP'].replace(',', '', regex=True)
    sipe['CHLD'] = sipe['CHLD'].replace(',', '', regex=True)
    sipe['CHIP'] = sipe['CHIP'].replace(',', '', regex=True)

    #Convert all column data in the dataframe to numeric data
    sipe['TOTP'] = pd.to_numeric(sipe['TOTP'])
    sipe['CHLD'] = pd.to_numeric(sipe['CHLD'])
    sipe['CHIP'] = pd.to_numeric(sipe['CHIP'])
    
    #Round the numeric data to nearest int
    sipe['CHIR'] = round(sipe['CHLD']/sipe['TOTP']*100, 0)
    sipe['POVR'] = round(sipe['CHIP']/sipe['CHLD']*100, 0)
    sipe = sipe.fillna(0)
    
    sipe['CHIR'] = sipe['CHIR'].astype(int)
    sipe['POVR'] = sipe['POVR'].astype(int)
    
    #Return dataframe
    return sipe[['LEAID', 'CHIR', 'POVR']]

#### Function to parse the state assessment data in reading/language arts and mathematics

In [51]:
def parseassessmentdata(x, year, subject):
    salm = pd.read_csv(x, dtype = str, na_values=['n/a'])
    z = str(year % 2000)
    y = str(year % 2000) + str((year % 2000)+1)
    
    #Add the Year column
    salm['YEAR'] = year
    
    if (subject == 'MATH'):
        s = 'MTH'
    
    if (subject == 'ENGLISH'):
        s = 'RLA'
        
    salm.columns = [x.upper() for x in salm.columns]
    
    #Rename existing coulmns in the regulatory adjusted cohort graduation rate dataframe
    salm.rename(columns={'STNAM':'STATE', 'LEANM' + z:'LEANM', 
                         'ALL_' + s + 'HSNUMVALID_' + y:'ALL' + s + 'A', 
                         'ALL_' + s + 'HSPCTPROF_' + y :'ALL' + s + 'P',
                         'MAM_' + s + 'HSNUMVALID_' + y:'MAM' + s + 'A', 
                         'MAM_' + s + 'HSPCTPROF_' + y :'MAM' + s + 'P',
                         'MAS_' + s + 'HSNUMVALID_' + y:'MAS' + s + 'A', 
                         'MAS_' + s + 'HSPCTPROF_' + y :'MAS' + s + 'P',
                         'MBL_' + s + 'HSNUMVALID_' + y:'MBL' + s + 'A', 
                         'MBL_' + s + 'HSPCTPROF_' + y :'MBL' + s + 'P',
                         'MHI_' + s + 'HSNUMVALID_' + y:'MHI' + s + 'A', 
                         'MHI_' + s + 'HSPCTPROF_' + y :'MHI' + s + 'P',
                         'MTR_' + s + 'HSNUMVALID_' + y:'MTR' + s + 'A', 
                         'MTR_' + s + 'HSPCTPROF_' + y :'MTR' + s + 'P',
                         'MWH_' + s + 'HSNUMVALID_' + y:'MWH' + s + 'A', 
                         'MWH_' + s + 'HSPCTPROF_' + y :'MWH' + s + 'P',
                         'F_' + s + 'HSNUMVALID_' + y  :'F' + s + 'A', 
                         'F_' + s + 'HSPCTPROF_' + y   :'F' + s + 'P',
                         'M_' + s + 'HSNUMVALID_' + y  :'M' + s + 'A', 
                         'M_' + s + 'HSPCTPROF_' + y   :'M' + s + 'P',
                         'CWD_' + s + 'HSNUMVALID_' + y:'CWD' + s + 'A', 
                         'CWD_' + s + 'HSPCTPROF_' + y :'CWD' + s + 'P',
                         'ECD_' + s + 'HSNUMVALID_' + y:'ECD' + s + 'A', 
                         'ECD_' + s + 'HSPCTPROF_' + y :'ECD' + s + 'P',
                         'LEP_' + s + 'HSNUMVALID_' + y:'LEP' + s + 'A', 
                         'LEP_' + s + 'HSPCTPROF_' + y :'LEP' + s + 'P'
                      }, inplace=True)

    salm  = salm[['STATE', 'FIPST', 
                  'LEAID', 'LEANM', 
                  'ALL' + s + 'A', 
                  'ALL' + s + 'P', 
                  'MAM' + s + 'A', 
                  'MAM' + s + 'P', 
                  'MAS' + s + 'A', 
                  'MAS' + s + 'P', 
                  'MBL' + s + 'A', 
                  'MBL' + s + 'P', 
                  'MHI' + s + 'A', 
                  'MHI' + s + 'P', 
                  'MTR' + s + 'A', 
                  'MTR' + s + 'P', 
                  'MWH' + s + 'A', 
                  'MWH' + s + 'P', 
                  'F' + s + 'A', 
                  'F' + s + 'P', 
                  'M' + s + 'A', 
                  'M' + s + 'P', 
                  'CWD' + s + 'A', 
                  'CWD' + s + 'P', 
                  'ECD' + s + 'A', 
                  'ECD' + s + 'P', 
                  'LEP' + s + 'A', 
                  'LEP' + s + 'P']]

    #Replace invalid data in the dataframe
    for col in salm.columns.values:
        salm[col] = salm[col].fillna(0)
        salm[col].replace('NaN', '')

    salm = salm.applymap(cleandata)
    
    #Convert all column data to numeric data
    numeric = ['ALL' + s + 'P',
               'MAM' + s + 'P',
               'MAS' + s + 'P',
               'MBL' + s + 'P',
               'MHI' + s + 'P',
               'MWH' + s + 'P',
               'F' + s + 'P',
               'M' + s + 'P', 
               'CWD' + s + 'P', 
               'ECD' + s + 'P',
               'LEP' + s + 'P']

    salm[numeric] = salm[numeric].apply(pd.to_numeric, errors='coerce')
    salm = salm.fillna(0)
    
    #return salm[['LEAID', 'ALL_' + s + '_PCT','MAM_' + s + '_PCT','MAS_' + s + '_PCT',
    #           'MBL_' + s + '_PCT','MHI_' + s + '_PCT','MWH_' + s + '_PCT','F_' + s + '_PCT',
    #           'M_' + s + '_PCT', 'CWD_' + s + '_PCT', 'ECD_' + s + '_PCT','LEP_' + s + '_PCT']]
    return salm[['LEAID', 'ALL' + s + 'P']]

#### Function to parse the national center for education statistics for all district

In [52]:
def parseelsidata(x, y):
    elsi = pd.read_csv(x, dtype=str)

    #Add the Year column
    elsi['YEAR'] = y

    #Rename existing coulmns
    elsi.columns = ['STATE', 'LEAID', 'LEANM', 'TOTSC', 'TOTCH', 'TOTPS', 'TOTS', 
                    'FRLS', 'GR12M', 'GR12F', 'PTR', 'FTE', 'SET', 'TOTSF', 'SEGC', 
                    'YEAR']

    for col in elsi.columns.values:
            elsi[col] = elsi[col].astype('str') 
            elsi[col] = elsi[col].replace('"', '')
            elsi[col] = elsi[col].replace('†', 0)
            elsi[col] = elsi[col].replace('–', 0)
            elsi[col] = elsi[col].replace('‡', 0)
            elsi[col] = elsi[col].replace('=', '')
            elsi[col] = elsi[col].fillna(0)
            elsi[col].replace('[NaN]', '')

    elsi['TOTSC'] = pd.to_numeric(elsi['TOTSC'])
    elsi['TOTCH'] = pd.to_numeric(elsi['TOTCH'])
    elsi['TOTPS'] = pd.to_numeric(elsi['TOTPS'])
    elsi['TOTS'] = pd.to_numeric(elsi['TOTS'])
    elsi['FRLS'] = pd.to_numeric(elsi['FRLS'])
    elsi['GR12M'] = pd.to_numeric(elsi['GR12M'])
    elsi['GR12F'] = pd.to_numeric(elsi['GR12F'])
    elsi['PTR'] = pd.to_numeric(elsi['PTR'])
    elsi['FTE'] = pd.to_numeric(elsi['FTE'])
    elsi['SET'] = pd.to_numeric(elsi['SET'])
    elsi['TOTSF'] = pd.to_numeric(elsi['TOTSF'])
    elsi['SEGC'] = pd.to_numeric(elsi['SEGC'])

    #Round the data to the nearest int
    elsi['CHSR'] = round(elsi['TOTCH']/elsi['TOTSC']*100, 0)
    elsi['PUSR'] = round(elsi['TOTPS']/elsi['TOTSC']*100, 0)
    elsi['FRLR'] = round(elsi['FRLS']/elsi['TOTS']*100, 0)
    elsi['SETR'] = round(elsi['SET']/elsi['FTE']*100, 0)
    elsi['SECR'] = round(elsi['SEGC']/elsi['TOTSF']*100, 0)

    elsi[elsi==np.inf] = np.nan
    elsi = elsi.fillna(0)
    
    elsi['CHSR'] = elsi['CHSR'].astype(int)
    elsi['PUSR'] = elsi['PUSR'].astype(int)
    elsi['FRLR'] = elsi['FRLR'].astype(int)
    elsi['SETR'] = elsi['SETR'].astype(int)
    elsi['SECR'] = elsi['SECR'].astype(int)
    
    return elsi[['LEAID', 'CHSR', 'PUSR', 'FRLR', 'SETR', 'SECR']]

#### Importing data from csv

In [53]:
A1 = pd.read_csv("data/EDFacts/regulatory-adjusted-cohort-graduation-rate/2011/acgr-lea-sy2011-12.csv", dtype=str)
A2 = pd.read_csv("data/NCES/2011/ELSI_csv_export_2011.csv", dtype=str)
A3 = pd.read_csv("data/EDFacts/Assessment Proficiency/2011/math-achievement-lea-sy2011-12.csv", dtype=str)
A4 = pd.read_csv("data/EDFacts/Assessment Proficiency/2011/rla-achievement-lea-sy2011-12.csv", dtype=str)

B1 = pd.read_csv("data/EDFacts/regulatory-adjusted-cohort-graduation-rate/2014/acgr-lea-sy2014-15.csv", dtype=str)
B2 = pd.read_csv("data/NCES/2014/ELSI_csv_export_2014.csv", dtype=str)
B3 = pd.read_csv("data/EDFacts/Assessment Proficiency/2014/math-achievement-lea-sy2014-15.csv", dtype=str)
B4 = pd.read_csv("data/EDFacts/Assessment Proficiency/2014/rla-achievement-lea-sy2014-15.csv", dtype=str)

#### Merging cohort graduation rate with ELSI data, poverty data and assessment data

In [54]:
sipe2011 = parsepovertydata("data/Census/Small Area Income and Poverty Estimates/USSD11.csv")
sipe2014 = parsepovertydata("data/Census/Small Area Income and Poverty Estimates/USSD14.csv")

elsi2011 = parseelsidata("data/NCES/2011/ELSI_csv_export_2011.csv", 2011)
elsi2014 = parseelsidata("data/NCES/2014/ELSI_csv_export_2014.csv", 2014)

#admt2011 = parseassessmentdata('data/EDFacts/Assessment Proficiency/2011/math-achievement-lea-sy2011-12.csv', 2011, 'MATH')
#admt2014 = parseassessmentdata('data/EDFacts/Assessment Proficiency/2014/math-achievement-lea-sy2014-15.csv', 2014, 'MATH')

#adrl2011 = parseassessmentdata('data/EDFacts/Assessment Proficiency/2011/rla-achievement-lea-sy2011-12.csv', 2011, 'ENGLISH')
#adrl2014 = parseassessmentdata('data/EDFacts/Assessment Proficiency/2014/rla-achievement-lea-sy2014-15.csv', 2014, 'ENGLISH')

acgr2011 = parsecohortdata("data/EDFacts/regulatory-adjusted-cohort-graduation-rate/2011/acgr-lea-sy2011-12.csv", 2011)
acgr2014 = parsecohortdata("data/EDFacts/regulatory-adjusted-cohort-graduation-rate/2014/acgr-lea-sy2014-15.csv", 2014)

#temp1 = pd.merge(acgr2011, admt2011, how='inner', on='LEAID')
#temp2 = pd.merge(temp1, adrl2011, how='inner', on='LEAID')
temp1 = pd.merge(acgr2011, elsi2011, how='inner', on='LEAID')
df2011 = pd.merge(temp1, sipe2011, how='inner', on='LEAID')

#temp4 = pd.merge(acgr2014, admt2014, how='inner', on='LEAID')
#temp5 = pd.merge(temp4, adrl2014, how='inner', on='LEAID')
temp2 = pd.merge(acgr2014, elsi2014, how='inner', on='LEAID')
df2014 = pd.merge(temp2, sipe2014, how='inner', on='LEAID')

#### Remove all school district data where number of students < 300

In [55]:
#df2011r = df2011[df2011['ALLA'] > 300]
#df2011r = df2011r[df2011r['ALLR'] > 0]

#df2014r = df2014[df2014['ALLA'] > 300]
#df2014r = df2014r[df2014r['ALLR'] > 0]

#### Export the data in a csv file

In [56]:
df2011.to_csv('data/high-school-dropout-dataset2011.csv', mode = 'w', index=False)
df2014.to_csv('data/high-school-dropout-dataset2014.csv', mode = 'w', index=False)

#### Check if there are records with more than 100% graduation rate

In [57]:
#print(len(df2011[df2011['ALLR'] > 100]))
#print(len(df2014[df2014['ALLR'] > 100]))

#### Check if there are records with <= 0% Pass rate

In [58]:
#print(len(df2011[df2011['ALLR'] <= 0]))
#print(len(df2014[df2014['ALLR'] <= 0]))

#### Find first 5 records of 2011 regulatory adjusted cohort graduation rate

In [63]:
df2011.iloc[:5,:50]

,YEAR,FIPCD,STATE,LEAID,ALLA,ALLG,ALLP,MAMA,MAMG,MAMP,...,LEPG,LEPP,LEPR,CHSR,PUSR,FRLR,SETR,SECR,CHIR,POVR
0,2011,1,ALABAMA,0100005,268,214,80,0,0,0,...,0,0,3,0,100,63,39,1,19,34
1,2011,1,ALABAMA,0100006,424,329,78,2,0,0,...,1,11,2,0,100,60,42,1,18,24
2,2011,1,ALABAMA,0100007,1042,937,90,1,1,100,...,7,33,2,0,100,21,47,1,18,12
3,2011,1,ALABAMA,0100008,836,758,91,4,2,50,...,7,100,1,0,100,19,48,1,22,10
4,2011,1,ALABAMA,0100011,117,80,68,0,0,0,...,1,33,3,0,100,58,41,1,15,27

#### Find first 5 records of 2014 regulatory adjusted cohort graduation rate

In [64]:
df2014.iloc[:5,:50]

,YEAR,FIPCD,STATE,LEAID,ALLA,ALLG,ALLP,MAMA,MAMG,MAMP,...,LEPG,LEPP,LEPR,CHSR,PUSR,FRLR,SETR,SECR,CHIR,POVR
0,2014,1,ALABAMA,0100005,252,217,86,0,0,0,...,7,78,4,0,100,63,39,1,19,39
1,2014,1,ALABAMA,0100006,369,326,88,2,1,50,...,4,100,1,0,100,60,42,1,18,26
2,2014,1,ALABAMA,0100007,1075,967,90,0,0,0,...,8,57,1,0,100,21,47,1,18,11
3,2014,1,ALABAMA,0100008,860,811,94,5,3,60,...,8,89,1,0,100,19,48,1,21,10
4,2014,1,ALABAMA,0100011,116,101,87,2,0,0,...,0,0,0,0,100,58,41,1,15,29

#### Check if there are records with any column having null

In [61]:
null_data = df2011[df2011.isnull().any(axis=1)]
print(null_data.count)

<bound method DataFrame.count of Empty DataFrame
Columns: [YEAR, FIPCD, STATE, LEAID, ALLA, ALLG, ALLP, MAMA, MAMG, MAMP, MAMR, MASA, MASG, MASP, MASR, MBLA, MBLG, MBLP, MBLR, MHIA, MHIG, MHIP, MHIR, MTRA, MTRG, MTRP, MTRR, MWHA, MWHG, MWHP, MWHR, CWDA, CWDG, CWDP, CWDR, ECDA, ECDG, ECDP, ECDR, LEPA, LEPG, LEPP, LEPR, CHSR, PUSR, FRLR, SETR, SECR, CHIR, POVR]
Index: []

[0 rows x 50 columns]>

#### Check if there are records with any column having null

In [62]:
null_data = df2014[df2014.isnull().any(axis=1)]
print(null_data.count)

<bound method DataFrame.count of Empty DataFrame
Columns: [YEAR, FIPCD, STATE, LEAID, ALLA, ALLG, ALLP, MAMA, MAMG, MAMP, MAMR, MASA, MASG, MASP, MASR, MBLA, MBLG, MBLP, MBLR, MHIA, MHIG, MHIP, MHIR, MTRA, MTRG, MTRP, MTRR, MWHA, MWHG, MWHP, MWHR, CWDA, CWDG, CWDP, CWDR, ECDA, ECDG, ECDP, ECDR, LEPA, LEPG, LEPP, LEPR, CHSR, PUSR, FRLR, SETR, SECR, CHIR, POVR]
Index: []

[0 rows x 50 columns]>